.hamburger-icon {
  float: left;
  width: 60px;
  height: 60px;
  padding: 9px 12px;
  margin: 8px;
  cursor: pointer;



  div {
    background-color: white;
    height: 6px;
    width: 36px;
    margin-bottom: 6px;
    border-radius: 10px;
    transition: 0.3s ease-out;
  }

  div:last-child {
    margin-bottom: 0;
  }

  &.open {
    .one {
      transform: translateY(12px) rotate(45deg);
    }

    .two {
      transform: translateY(-12px);
      opacity: 0;
    }

    .three {
      transform: translateY(-12px) rotate(-45deg);
    }
  }

}
